html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }

ul
{
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    flex-wrap: wrap;
}



.light-mode ul
{
    background-color: white;
    color: black;
}

.light-mode
{
    background-color: white;
    color: black;
}

li a
{
    display: block;
    color: aquamarine;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

.light-mode li a
{
  color: black;
}

li a:hover:not(.active)
{
    background-color: aquamarine;
    color: black;
}

.light-mode li a:hover:not(.active)
{
    background-color: white;
    color: black;
}

.active 
{
    background-color: aquamarine;
    color: black;
}

.light-mode .active
{
    background-color: black;
    color: white;
}

body 
{
    text-align: center;
    background:  url("ship.jpg");
    background-size: cover;
    background-position: 60%, left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(12, 36, 36);
    font-family: helvetica;
}

body.light-mode
{
    text-align: center;
    background:  url("polarBear.jpg");
    background-size: cover;
    background-position: 60%, left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(12, 36, 36);
    font-family: helvetica;
}

h1 
{
    color: aquamarine;
    margin-left: 5%;
}
.light-mode h1
{
    color: black;
}

.gallery-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 5%;
    padding: 10%;
    margin-bottom: px;
}
.gallery
{
    width: 100%;
    background-color: #000;
    text-align: center;
    font-family: monospace;
    color: #aaf0d1;
    box-sizing: border-box;
}


.light-mode
{
    background-color: white;
}

  .gallery img 
  {
    width: 100%;
    height: auto;
    display: block;
    padding: 2%;
    border: 0.5% solid white; 
    box-sizing: border-box; 
  }

  .light-mode .gallery img
  {
    border: 0.5% solid black;
  }

  img
  {
    border: 1% solid black;
    size: 50%;
  }

  .light-mode img
  {
    border: 1% solid black
  }

  .desc 
  {
    padding: 1%;
    font-size: xx-large;
  }

.form-container
{
  
    align-items: center;
    background-color: black;
    padding: 5%;
    margin: 1% auto;
    max-width: 50%;
    border-radius: 5%;
    box-shadow: 0 0 5% rgba(0,0,0,0.3);
}
.light-mode .form-container
{
    background-color: white;
    color: black;
}
form 
{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
input, textarea
{
    
    padding: 6%;
    font-size: large;
    border: 5px solid black;
    border-radius: 5pt;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

button[type="submit"],
button[type="reset"]
{
    padding: 5%;
    background-color: aquamarine;
    color: black;
    font-size: x-large;
    border: none;
    border-radius: 4%;
    cursor: pointer;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
.light-mode button[type="submit"],
button[type="reset"]
{
    background-color: rgba(0, 0, 0, 0.943);
    color: white;
}
button[type="reset"] {
    background-color: rgba(127, 255, 212, 0.743);
    color: black;
}
.light-mode button[type="reset"]
{
    background-color: grey;
}
button:hover {
    opacity: 0.9;
}

div 
{
    display: block;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: aquamarine;
}

.light-mode div
{
    background-color: white;
    color: black;
}
label
{
    font-size: xx-large;
}
.text-block {
  align-items: center;
  display: block;          
  max-width: 90%;         
  margin: 5% auto;        
  padding: 2.5%;
  line-height: 1.6;          
  text-align: left;        
  word-wrap: break-word;      
  background-color: azure;
  border: solid ;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}

div.blog
{
    margin: auto;
    border: 1px solid black;
    width: 25%;
    overflow:hidden;
    white-space: nowrap;
    background-color: white;
    align-items: stretch;
}

div.blog img
{
    object-fit: cover;
    width: 100%px;
    height: 100%;
    display: block;
}
.blog-content 
{
  flex: 1;                    
  background-color: white;
  padding: 5%;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.5;
  color: black;
  overflow-wrap: break-word;
  white-space: normal;
}

#lightBox 
{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black(.8);
    display: none;
}
#lightBox.active
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
  }
  
  .lightbox-content {
    position: relative;
    margin: auto;
    max-width: 80%;
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 45px;
    color: aquamarine;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }

  .light-mode .close
  {
    color: black;
  }
  
  .close:hover,
  .prev:hover,
  .next:hover {
    color: white;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: aquamarine;
    font-size: 40px;
    padding: 16px;
    margin-top: -50px;
    transition: 0.3s;
    user-select: none;
  }
  .light-mode .prev
  {
    color: black;
  }
  .light-mode .next
  {
    color: black;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .caption-container {
    text-align: center;
    color: black;
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  footer {
    background-color: black;
    color:aquamarine;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center; 
  align-items: center;     
  height: 100px;            
  z-index: 9999;          
  }
  .light-mode footer
  {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
  }
 footer p 
{
    display: inline;
    border-style: solid;
    padding: 10px;
    font-size: xx-large;
    color: aquamarine;
    background-color: black;
}
.light-mode footer p 
{
    display: inline;
    border-style: solid;
    padding: 10px;
    color: black;
    background-color: white;
}
@media (max-width: 768px) 
{
  body 
  {
    flex-direction: column;
    align-items: center;
  }
  .form-container
  {
    width: 100%;
    
  }
  img 
  {
    width: 100%;
    height: auto;
  }
  .gallery
  {
  font-size: small;
  }
  .desc 
  {
  font-size: large;
  }
  footer p 
  {
    font-size: small;
  }
  .blog-content
  {
    font-size: small
  }
  div.blog
  {
    width: 90%;
  }
  div.blog img
  {
    width: 100%;
  }
}